@charset "utf-8";
.body{
	background-color: rgb(161, 128, 224);
	background-image:linear-gradient(to right,rgb(161, 128, 224),rgb(96, 162, 262));
	background-image:-webkit-linear-gradient(to right,rgb(161, 128, 224),rgb(96, 162, 262));
}
a,a:link,a:active,a:hover,a:visited{
	color: currentcolor;
}
*{
	box-sizing: border-box;
}
.content{
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
}
input{
	border:none;
}
.bgtrans{
	background-color: rgba(0, 0, 0, 0);
}
.colwhit{
	color: #fff !important;
}
.width{
	width: 100%;
}
.colccc{
	color: rgb(199, 199, 199);
}
.colyel{
	color: rgb(255, 134, 0);
}
.colblu{
	color: rgb(40, 158, 245);
}
.mat10{
	margin-top: 10px;
}
.fs10{
	font-size: 10px;
}
.fs18{
	font-size: 16px;
}
.fs26{
	font-size: 26px;
}
.fs20{
	font-size: 20px;
}
.ih40{
	line-height: 40px;
}
.ih30{
	line-height: 30px;
}
.disib{
	display: inline-block;
}
.pad0{
	padding: 0px;
}
.bor1c{
	border-bottom: 1px solid #ccc;
}
.moneydiv{
	border: 1px solid rgb(40, 158, 245);
	padding: 5px 0px;
	border-radius: 4px;
	margin-right: 10px;
	width: calc(33.33% - 7px);
	margin-bottom: 10px;
}
.moneydiv .weui-grid__label{
	color: #ddd;
}
.moneydiv.on .weui-grid__label{
	color: #fff;
}
.moneydiv.on{
	background: rgb(40, 158, 245);
	color: #fff;
}
.moneydiv.on .colblu{
	color: #fff;
}
.moneydiv:nth-child(3n){
	margin-right: 0px;
}
.moneydiv:before,.moneydiv:after{
	border: none;
}
.btnbg{
	background: url('../img/btnbg.png') no-repeat center center;
	background-size: 120px 40px;
	display: inline-block;
	width: 120px;
	height: 40px;
}
.bgwhit{
	background: #fff;
}
.ab0{
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}
.op0{
	opacity: 0;
}
.bgeee{
	background-color: #eee !important;
}
.texcen{
	text-align: center;
}
.colred{
	color: rgb(255, 0, 30);
}
.title img{
    height: 22px;
}
.row img{
	width: 60%;
}
.row .mainnav{
	width: 25%;
	float: left;
}
.bor20{
	border-radius: 20px;
	width: 100%;
	overflow: hidden;
}
.homenum{
	display: inline-block;
    background: rgba(214, 249, 248, 0.8);
    padding: 0px 30px;
    border-radius: 20px;
}
.pore{
	position: relative;
}
.poab{
	position: absolute;
}
.panel{
	height: 160px;
    width: 160px;
    box-shadow: 1px 1px 8px #bbb;
    border-radius: 80px;
    left: 50%;
    margin-left: -80px;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
.nobor:after{
	border-bottom: none;
}
.disn{
	display: none;
}
.mat0{
	margin-top: 0px !important;
}
.weui-btn.on{
	color: rgb(61, 161, 245);
}
.weui-btn.on:after{
	border: 1px solid rgb(61, 161, 245);
}
.nobor:before,.nobor:before{
	border-top: none;
}
.weui-btn_green{
	background-color: rgb(61, 161, 245);
}
.colgreen{
	color: rgb(61, 161, 245);
}
.weui-tabbar .icon{
	background-size: 24px auto !important;
}
.row{
	display: flex;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.weui-tabbar .on{
	color: rgb(42, 147, 240);
}
.userinfo{
	height: 173px;
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
}
.on .icon-xiyi{
	background: url('../img/xiyion.png') center center no-repeat;
}
.on .icon-shop{
	background: url('../img/shopon.png') center center no-repeat;
}
.on .icon-self{
	background: url('../img/selfon.png') center center no-repeat;
}
.icon-xiyi{
	background: url('../img/xiyi.png') center center no-repeat;
}
.icon-shop{
	background: url('../img/shop.png') center center no-repeat;
}
.icon-self{
	background: url('../img/self.png') center center no-repeat;
}
.padding{
	padding: 10px;
}
.bar-header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	z-index: 10000;
}
.bor2cc{
	border:2px solid #ddd;
}
.bora4{
	border-radius: 4px;
}
.marb20{
	margin-bottom: 20px;
}
.bar-footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.iconjf{
	background: url('../img/jfdesc.png') no-repeat 0px center;
	background-size: 20px 20px;
	padding-left: 30px;
}
.iconadd{
	padding-left: 30px;
	background: url('../img/iconadd.png') no-repeat 0px center;
	background-size: 20px 20px;
}
.iconloc{
	padding-left: 30px;
	background: url('../img/location.png') no-repeat 0px center;
	background-size: 20px 20px;
}
.iconedit{
	background: url('../img/edit.png') no-repeat 0px center;
	background-size: 20px 20px;
}
.icondel{
	background: url('../img/del.png') no-repeat 0px center;
	background-size: 20px 20px;
}
.bgdan{
	background: url('../img/bgdan.png') no-repeat right center #fff;
	background-size: auto 100%;
	height: 140px;
}
.bgkuai{
	background: url('../img/bgkuai.png') no-repeat right center #fff;
	background-size: auto 100%;
	height: 140px;
}
.bgbiao{
	background: url('../img/bgbiao.png') no-repeat right center #fff;
	background-size: auto 100%;
	height: 140px;
}
.bgda{
	background: url('../img/bgda.png') no-repeat right center #fff;
	background-size: auto 100%;
	height: 140px;
}
.juanbor{
	border: 2px dotted #ddd;
	height: 120px;
	border-radius: 4px;
	padding: 20px;
}
.icon{
	display: inline-block;
	width: 30px;
	height: 30px;
}
.mat50{
	margin-top: 50px;
}
.mar50{
	margin-right: 50px;
}
.logininp{
	display: inline-block;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	background-color: #ddd;
	padding-left: 20px;
}
ul.colblu li{
	padding-left: 10px;
}
ul.colblu li:before{
	content: '';
	position: absolute;
	left: 0px;
	top: 8px;
	display: inline-block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: rgb(61, 161, 245);
}
.weui-check__label .weui-cell__hd img{
	width: 25px;
	margin: 5px 5px 0px 0px;}